.todoWrapper {
  transition: background-color .3s ease-in-out;
  max-width: 90vw;
  margin: var(--spacing) auto;
  background-color: var(--white);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
}
.todo__title {
  font-weight: var(--font-weight-bold);
}

.todo {
  &[data-project="General"] {
    border-left: solid 1px var(--a);
  }
  &[data-project="Check"] {
    border-left: solid 1px var(--b);
  }
}

.todo__link {
  color: var(--a);
  text-decoration: none;
  display: inline-block;
  margin: 1em;
}


:global(.is-completed) {
  background-color: var(--c);
}